body{
    background-color: #f3f3f3;font-size: 14px;
}
/*特殊——自己加的*/

/*公共样式——class*/
.content-box{
    width: 1200px;margin: 0 auto;
}
.m-title{
    width: 100%;height: 80px;line-height: 80px;text-align: center;font-size: 30px;
    font-weight: 400;
    background: url(../images/redline.png) no-repeat center;
}
.m-list a{
    display: block;float: left;border-radius: 10px;box-shadow: 0 0 10px #ccc;
    overflow: hidden;
}
.m-list a p{
    height: 30px;line-height: 30px;padding: 0 10px;overflow: hidden;
}
.m-list a:hover{
    filter: alpha(opacity=90);
    -moz-opacity:0.9;
    opacity:0.9;
    color: blue;
}
/* 公共样式 */

/* logo,搜索框，登录/注册开始   */
.h-top{
    height: 88px;position: relative;
}
.h-top .logo{
    height: 58px;width: 214px;display: block;
    position: absolute;
    left:0;top:15px;
}
.h-top .search{
    width: 327px;height: 36px;border: 1px solid #ccc;
    border-radius: 18px 18px 18px 18px;
    background: #fff;
    position: absolute;
    left:50%;margin-left: -165px;top: 26px;
    overflow: hidden;
}
.h-top .search .ipu1{
    width: 260px;height: 36px;border: none;padding: 0 20px;
}
.h-top .search .ipu2{
    width: 60px;height: 36px;border: none;border-radius: 20px;
    background: #acce22;
}
.h-top .user{
    width: 160px;height: 28px;line-height: 28px;
    position: absolute;
    right: 0;
    top:30px;
}
.h-top .user a{
    display: inline-block;width: 76px;height: 28px;text-align: center;
    font-size: 16px;color: #000;
}
/* logo,搜索框，登录/注册结束 */
/* 导航 start*/
nav{
    background: #363636;
}
nav .nav-box{
    height: 44px;line-height: 44px;text-align: center;
}
.nav-box .nav-l{
    width: 800px;
}
.nav-box a{
    display: block;float: left;
    width: 80px;height: 44px;
    color: #fff;
}
.nav-box .nav-l{
    float: left;
}
.nav-box .nav-l a:hover{
    font-size: 16px;color: #00aeff;
}
.nav-box .nav-r{
    width: 240px;float: right;
}
.nav-box .nav-r a{
    font-size: 16px;
}
.nav-box .nav-r a:hover{
    background: #ca3333;
}
/* 导航 end */
/* 幻灯片开始 */
.cs{
    background: rgb(31, 31, 221);
}
.cs .content-box{
    height: 330px;overflow: hidden;position: relative;
}
.hdp-img{
    width: 3600px;position: absolute;left: 0;
}
.hdp-img a{
    display: block;width: 1200px;height: 330px;
}
/* 网站公告 */
.cs .content-box .wzgg{
    height: 310px;width: 250px;background: rgba(0, 0, 0,0.6);
    border-radius: 10px;
    position: absolute;right: 0;top: 10px;
    padding: 20px;
}
 .wzgg h3{
    text-align: center;color: #fff;padding-bottom: 10px;
 }
 .cs .content-box .wzgg ul{
    list-style: disc;color: #fff;padding: 10px;
 }
.wzgg ul li a{
    color: #fff;font-size: 12px;
}
/* 网站公告 */
/* 幻灯片结束 */
/* 课程分类开始 */
.ycpxb{
    height: 160px;background: #fff;padding-top: 22px;
}
.ycpxb a{
    display: block;
    width: 210px;height: 114px;float: left;border-radius: 15px;
    margin: 0 15px;color: #fff;font-size: 24px;font-weight: 700;
    text-align: center;line-height: 114px;overflow: hidden;
    background: no-repeat 0 0/100% 100%;
}
.ycpxb a:hover{
    background-size: 110% 110%;color: #fff;
}
.ycpxb .a1{
    background-image: url(../images/otherFun1.jpg);
}
.ycpxb .a2{
    background-image: url(../images/otherFun2.jpg);
}
.ycpxb .a3{
    background-image: url(../images/otherFun3.jpg);
}
.ycpxb .a4{
    background-image: url(../images/otherFun4.jpg);
}
.ycpxb .a5{
    background-image: url(../images/otherFun5.jpg);
}
.ycpxb a span{
    display: block;width: 100%;height: 100%;background: rgba(0, 0, 0,0.3);
    text-shadow: 4px 2px 5px #000;
}
.ycpxb a .span1{
    line-height: normal;padding-top: 25px;
}
/* 课程分类结束*/
/* 最新课程开始*/
.zxkc{
    padding-top: 30px;
}
.zx-box a{
    width: 270px;height: 240px;margin: 20px 15px;
}
.zx-box a img{
    width: 270px;height: 210px;
}
/*最新课程结束 */
